/* interface */
body > .container {
    display: grid;
    grid-template-columns: 30em 1fr 30em;
    height: 100vh;
}

/* Header */
body {
    font-family: 'libre baskerville';
    margin: 0;
    overflow: hidden;
}
.header {
    grid-column: span 2;
}
/* top bar */
.header > :first-child {
    display: flex;
    align-items: center;
    padding: 1em 4em;
    gap: 2em;
    border-bottom: 1px grey;
}
.search-bar {
    height: 2em;
    background-color: #f0f0f0;
    flex-grow: 1;
    border-radius: 100px;
}
.mdi-bell-outline {
    margin-left: auto;
}
/* bottom bar */
.header > :last-child {
    display: flex;
    padding: 1em 4em;
}
.header > .container > ul {
    font-family: 'mohave';
    font-size: 1.5em;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 6em;
    gap: 1em;
    list-style: none;
    justify-items: center;
    align-items: center;
    margin-left: auto;
}
.header > .container > ul > li > a {
    padding: .5em 2em;
    background: #A14646;
    border-radius: 100px;
    color: white
}
.profile-icon {
    background-image: url(sources/generic-avatar.jpg);
    background-size:cover;
    border-radius: 50%;
}
.large-icon {
    width: 6em;
    height: 6em;
}
.small-icon {
    width: 4em;
    height: 4em;
}
.welcome-message {
    margin: auto 2em;
}
.welcome-message h1, h4 {
    margin: 0;
}

/* side bar */
.sidebar {
    background-color: #A14646;
    grid-row: span 2;
    font-family: 'mohave';
    color: white;
    padding: 1em;
}

.sidebar ul {
    list-style-type: none;
}
.sidebar ul li {
    display: grid;
    grid-template-columns: 2em 8em;
    gap: .5em;
    align-items: center;
    font-size: 2em;
}
.spacer {
    height: 2em;
}
.mdi {
    font-size: 2em;
}

/* main */
.main {
    background: #f0f0f0;
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
}
.main > .projects {
    grid-row: span 2;
}

/* projects */
.projects {
    padding: 1em;
}
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1em;
}
.card {
    background: white;
    border-left: 1em solid #A14646;
    padding: 1em;
    border-radius: 1em;
    box-shadow: .5em .5em .5em lightgrey;
}

/* announcements */
.announcements {
    padding: 1em;
}
.announcements .container {
    background: white;
    padding: 2em 3em;
    border-radius: 1em;
    box-shadow: .5em .5em .5em lightgrey;
}

/* trending */
.trending {
    padding: 1em;
}
.trending .container {
    background: white;
    padding: 2em 3em;
    border-radius: 1em;
    box-shadow: .5em .5em .5em lightgrey;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.user {
    display: flex;
    gap: 1em;
}
.user > :last-child > * {
    margin: 0;
}
.user > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}